.navbar, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    padding: 0;
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: #000000de;
    font-size: 13px;
    font-family: arial,sans-serif;
    margin: 0 10px;
}

a:hover {
    border-bottom: 1px solid #000000de;
}

ul.right-side > li:nth-child(3) > img {
    width: 22px;
    height: 22px;
    padding: 8px;
}

ul.right-side > li:nth-child(3) {
    display: flex;
    border-radius: 50%;
}

ul.right-side > li:nth-child(3):hover {
    background-color: rgba(60,64,67,.08);
}

ul.right-side > li:nth-child(4) > a {
    background-color: #1a73e8;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    border-bottom: none;
    padding: 10px 30px;
    margin: 0px 12px;
    line-height: 36px;
    border-radius: 4px;
}

ul.right-side > li:nth-child(4) > a:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.header > h1 > img {
    width: 100%;
    height: auto;
}

.search-box > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    max-width: 584px;
    width: auto;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #dfe1e5;
    border-radius: 22px;
    margin: 0 0 20px 0;
    z-index: 3;
}

.search-bar >input:focus {
    outline: none;
}

.search-bar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-bar > img {
    width: 14px;
    margin: 0 14px;
}

input[type="text"] {
    width: 100vw;
    height: 32px;
    
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: arial,sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 36px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    color: #202124;
}